GEMINI_API_KEY=AI...
OPENROUTER_API_KEY=sk-or-v1-...
SCRAPECREATORS_API_KEY=...
SUPADATA_API_KEY=sd_...
ACCESS_CLIENT_ID=
ACCESS_CLIENT_SECRET=
ACCESS_AUTHORIZATION_URL=
ACCESS_TOKEN_URL=
ACCESS_REDIRECT_URI=

LANGSMITH_TRACING=true
LANGSMITH_API_KEY=
LANGSMITH_PROJECT=YouTube-Summarizer
